/* You can add global styles to this file, and also import other style files */
#header{
    height: 5vh;
    /* max-height: 60px; */
}
#main{
    height: 90vh;
    background-color: grey;
}
#footer{
    height: 5vh;
    /* max-height: 60px; */
}